$var page_title: My Bookmarker - web.py version
    <section>
		<a href="#">Add a link</a>
		<h1>My Bookmarks</h1> $context.user_id
		<article>
			<time datetime="2012-04-21" pubdate>April 21, 2012</time>
			<h2>
				<a href="http://www.blah.com/" rel="bookmark" title="link to blah.com">
					blah.com
				</a>
			</h2>
		</article>
		<article>
			<time datetime="2012-04-22" pubdate>April 22, 2012</time>
			<h2>
				<a href="http://www.fyeah.com/" rel="bookmark" title="link to fyeah.com">
					fyeah.com is a super website
				</a>
			</h2>
		</article>
	</section>
