{% extends 'layout.html' %}
{% load comments %}
{% block body %}
    <section>
       <h2>Bookmarks for <i>{{ user.username }}</i></h2>
       <h4>You have {{ bookmarks|length }} bookmarks.</h4>
       {% if bookmarks %}
       {% for bm in bookmarks %}
        <article>
			<time datetime="2012-04-21" pubdate>{{ bm.pub_date }}</time>
			<h2>
				<a href="{{ bm.url }}" rel="bookmark" title="link to {{ bm.url }}">
					{{ bm.title }}
				</a>
                <div>{{ bm.description }}</div>
			</h2>
            <b><a href="/bookmark/{{bm.pk}}/modify/">edit</a></b>
            {% get_comment_count for bm as cmt_count %}
            <h4>{{ cmt_count }} comments for this link</h4>
            <div>
            {% render_comment_list for bm %}
            </div>
            <b onclick="toggleVisibility('#comment_form{{bm.id}}')">comment</b>
            <div id="comment_form{{bm.id}}" class="comment_form">
            {% render_comment_form for bm %}
            </div>
		</article>
        {% endfor %}
       {% else %}
        <h3>It appears that you have no bookmarks ?!?</h3>
       {% endif %}
    </section>
{% endblock %}
{% block doc_ready %}
<!-- doc_ready block -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.comment_form').css({display: 'none'});
    });
    
    function toggleVisibility(id){
        var state = $(id).css('display') == 'block' ? 'none' : 'block';
        $(id).css({'display': state})
    }
</script>
{% endblock %}
