{% extends 'layout.html' %}
{% load comments %}
{% block body %}
    <section>
       <h2>Bookmark Details</h2>
        <article>
            {% if user.is_authenticated %}
            <div class="voteButtons">
                <b class="vote" onclick="upvote({{bookmark.pk}});">+1</b>
                <b id="vote_count_{{bookmark.pk}}">{{ bookmark.votes }}</b> 
                <b class="vote" onclick="downvote({{bookmark.pk}});">-1</b>
            </div>
            {% endif %}
			<time datetime="2012-04-21" pubdate>{{ bookmark.pub_date }}</time>
			<h2>
				<a href="{{ bookmark.url }}" rel="bookmark" title="link to {{ bookmark.url }}">
					{{ bookmark.title }}
				</a>
                <div>{{ bookmark.description }}</div>
			</h2>
            {% if bookmark.author == user %}
            <b><a href="/bookmark/{{bookmark.pk}}/modify/">edit</a></b>
            {% endif %}
            {% get_comment_count for bookmark as cmt_count %}
            <h4>{{ cmt_count }} comments for this link</h4>
            <div>
            {% render_comment_list for bookmark %}
            </div>
            {% if user.is_authenticated %}
            <b onclick="toggleVisibility('#comment_form{{bookmark.id}}')">comment</b>
            <div id="comment_form{{bookmark.id}}" class="comment_form">
            {% render_comment_form for bookmark %}
            </div>
            {% else %}
            <div id="login_comment">
                <a href="{% url login %}?next={% firstof request.path '/' %}">login</a> to comment!
            </div>
            {% endif %} 
		</article>
    </section>
{% endblock %}
{% block doc_ready %}
<!-- doc_ready block -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.comment_form').css({display: 'none'});
    });
    
    function toggleVisibility(id){
        var state = $(id).css('display') == 'block' ? 'none' : 'block';
        $(id).css({'display': state})
    }
    
    function upvote(pk){
        url = '/bookmark/' + pk + '/upvote/';
        invokeVote(url, pk);
    }
    
    function downvote(pk){
        url = '/bookmark/' + pk + '/downvote/';
        invokeVote(url, pk);
    }
    
    function invokeVote(url, pk){
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            success: function(data){
                updateVoteCount(data, pk);
            }
        });
    }
    
    function updateVoteCount(data, pk){
        $('#vote_count_' + pk).text(data.votes);
    }
    
    // boilerplate CSRF handling code
    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
    // end boilerplate 
</script>
{% endblock %}
